@import 'plugins/detailer/plugin';
@import 'chassis';

// Import Detailer UI Components
@import 'plugins/detailer/ui-components/buttons';

.showroom {

  header {
    padding: 3.82em 0;
    background: rgb(1,177,22);

    text-align: center;

    h1 {
      margin: 0;

      color: $white;

      @include multiply-font-size(larger); // Multiplies by $type-scale-ratio by default
      text-transform: uppercase;
    }
  }

  main {
    @include width-constraint;

    @include min-screen-size(medium) {
      display: flex;
      align-items: flex-start;
    }

    padding-top: 2em;

    @include min-screen-size(medium) {
      padding-top: 3.82em;
    }

    .sidebar {
      @include min-screen-size(medium) {
        flex: 1 0 25%;
      }

      box-shadow: inset 0 0 0 1px $grey-n02;

      a {
        display: block;

        padding: .618em 1em;

        &:not(:last-child) {
          box-shadow: 0 1px 0 0 $grey-n02;
        }
      }
    }

    .workspace {
      @include min-screen-size(medium) {
        padding: 0 0 0 3.82vw;
      }

      > section {
        margin-bottom: 3em;

        h1 {
          box-shadow: inset 0 -1px 0 0 $grey-n03;
        }

        &.buttons {
          .custom-button {
            @extend %button;
          }

          .button {
            &.purple {
              background: purple;

              &:hover {
                background: lighten(saturate(purple, 10%), 10%);
              }
              &:active {
                background: darken(desaturate(purple, 10%), 5%);
              }
              &.disabled {
                background: lighten(desaturate(purple, 80%), 50%);
              }
            }
          }
        }
      }

      pre {
        @include block-layout-rules(root);
        background: lighten($grey-n00, 5%);
      	box-shadow: 0 0 0 1px $grey-n03;
      	border-radius: $default-border-radius;

        font-family: Consolas, Courier New, monospace;

        white-space: pre-wrap;

        &:before {
          display: block;

          color: $grey-n05;
        }

        &.html:before {
          content: 'HTML:';
        }
        &.sass:before {
          content: 'SASS:';
        }
        &.javascript:before {
          content: 'JavaScript:';
        }
      }

    }

  }
}
