// NGN Chassis
// z-index functions -----------------------------------------------------------

// @function chassis-get-z-index
// @param {string} $key
// Name of element from $CHASSIS_Z-INDEX_DEFAULTS map
// found in chassis-sass ./config/z-index
@function chassis-get-z-index($key) {
  @return map-get($CHASSIS_Z-INDEX_DEFAULTS, $key);
}
