// NGN Chassis Default Color Scheme

$body-bg-color       : $white           !default;

$text-color          : rgba(68,68,68,1) !default;

$link-color          : rgb(1,177,22);

$active-link-color   : darken($link-color, 7%);

$visited-link-color  : $link-color;

$disabled-link-color : $grey-n04;
