// :: Breakpoints --------------------------------------------------------------

$ui-min-width : 320px  !default;
$ui-max-width : 1440px !default;

$screen-size-ranges : (
	tiny: (
		lower-bound: $ui-min-width,
		upper-bound: 512px
	),
	small: (
		lower-bound: 512px,
		upper-bound: 768px
	),
	medium: (
		lower-bound: 768px,
		upper-bound: 1024px
	),
	large: (
		lower-bound: 1024px,
		upper-bound: 1200px
	),
	huge: (
		lower-bound: 1200px,
		upper-bound: $ui-max-width
	)
) !default;
