.ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.ngn-chassis a.disabled:not(.button), .ngn-chassis .disabled.button, .showroom main .workspace > section.buttons .disabled.custom-button {
  pointer-events: none; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

main {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary {
  display: block; }

.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important; }

.width-constraint, .showroom main {
  min-width: 320px !important;
  max-width: 1440px !important;
  margin: 0 auto;
  padding-left: 6.18vw;
  padding-right: 6.18vw; }
  @media screen and (max-width: 320px) {
    .width-constraint, .showroom main {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 1440px) {
    .width-constraint, .showroom main {
      padding-left: 89px;
      padding-right: 89px; } }

html {
  background: white; }

.ngn-chassis {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  color: #444444; }
  .ngn-chassis a:not(.button) {
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    color: #01b116; }
    .ngn-chassis a:not(.button):link {
      color: #01b116; }
    .ngn-chassis a:not(.button):hover {
      text-decoration: underline;
      color: #01a715; }
    .ngn-chassis a:not(.button):active {
      text-decoration: initial;
      color: #01bb17; }
    .ngn-chassis a:not(.button).disabled {
      text-decoration: initial;
      color: #bcbdc1; }
  .ngn-chassis h1 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .ngn-chassis h2 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .ngn-chassis h3 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .ngn-chassis h4 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .ngn-chassis h5 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  .ngn-chassis h6 {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none; }
  @media screen and (max-width: 512px) {
    .ngn-chassis {
      font-size: 15px;
      line-height: 24px; }
      .ngn-chassis h1 {
        font-size: 1.6em;
        line-height: 1.625em;
        margin-bottom: 1em; }
      .ngn-chassis h2 {
        font-size: 1.26667em;
        line-height: 1.29167em;
        margin-bottom: 1em; }
      .ngn-chassis h3 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h4 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h5 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h6 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis p,
      .ngn-chassis section,
      .ngn-chassis article,
      .ngn-chassis blockquote,
      .ngn-chassis fieldset,
      .ngn-chassis pre,
      .ngn-chassis table,
      .ngn-chassis canvas,
      .ngn-chassis embed,
      .ngn-chassis figure,
      .ngn-chassis nav {
        margin-bottom: 1.6em; } }
  @media screen and (min-width: 512px) and (max-width: 768px) {
    .ngn-chassis {
      font-size: 16px;
      line-height: 26px; }
      .ngn-chassis h1 {
        font-size: 1.625em;
        line-height: 1.61538em;
        margin-bottom: 1em; }
      .ngn-chassis h2 {
        font-size: 1.25em;
        line-height: 1.23077em;
        margin-bottom: 1em; }
      .ngn-chassis h3 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h4 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h5 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h6 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis p,
      .ngn-chassis section,
      .ngn-chassis article,
      .ngn-chassis blockquote,
      .ngn-chassis fieldset,
      .ngn-chassis pre,
      .ngn-chassis table,
      .ngn-chassis canvas,
      .ngn-chassis embed,
      .ngn-chassis figure,
      .ngn-chassis nav {
        margin-bottom: 1.625em; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .ngn-chassis {
      font-size: 17px;
      line-height: 28px; }
      .ngn-chassis h1 {
        font-size: 1.64706em;
        line-height: 1.60714em;
        margin-bottom: 1em; }
      .ngn-chassis h2 {
        font-size: 1.29412em;
        line-height: 1.28571em;
        margin-bottom: 1em; }
      .ngn-chassis h3 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h4 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h5 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h6 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis p,
      .ngn-chassis section,
      .ngn-chassis article,
      .ngn-chassis blockquote,
      .ngn-chassis fieldset,
      .ngn-chassis pre,
      .ngn-chassis table,
      .ngn-chassis canvas,
      .ngn-chassis embed,
      .ngn-chassis figure,
      .ngn-chassis nav {
        margin-bottom: 1.64706em; } }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    .ngn-chassis {
      font-size: 18px;
      line-height: 29px; }
      .ngn-chassis h1 {
        font-size: 1.61111em;
        line-height: 1.62069em;
        margin-bottom: 1em; }
      .ngn-chassis h2 {
        font-size: 1.27778em;
        line-height: 1.27586em;
        margin-bottom: 1em; }
      .ngn-chassis h3 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h4 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h5 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h6 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis p,
      .ngn-chassis section,
      .ngn-chassis article,
      .ngn-chassis blockquote,
      .ngn-chassis fieldset,
      .ngn-chassis pre,
      .ngn-chassis table,
      .ngn-chassis canvas,
      .ngn-chassis embed,
      .ngn-chassis figure,
      .ngn-chassis nav {
        margin-bottom: 1.61111em; } }
  @media screen and (min-width: 1200px) {
    .ngn-chassis {
      font-size: 19px;
      line-height: 31px; }
      .ngn-chassis h1 {
        font-size: 1.63158em;
        line-height: 1.6129em;
        margin-bottom: 1em; }
      .ngn-chassis h2 {
        font-size: 1.26316em;
        line-height: 1.25806em;
        margin-bottom: 1em; }
      .ngn-chassis h3 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h4 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h5 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis h6 {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em; }
      .ngn-chassis p,
      .ngn-chassis section,
      .ngn-chassis article,
      .ngn-chassis blockquote,
      .ngn-chassis fieldset,
      .ngn-chassis pre,
      .ngn-chassis table,
      .ngn-chassis canvas,
      .ngn-chassis embed,
      .ngn-chassis figure,
      .ngn-chassis nav {
        margin-bottom: 1.63158em; } }

.ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
  display: inline-block;
  background: #009886;
  border-radius: 0.24063em;
  border: none;
  outline: none;
  box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  color: white;
  cursor: pointer; }

@media screen and (max-width: 512px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (max-width: 512px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (max-width: 512px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (max-width: 512px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (max-width: 512px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (max-width: 512px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (max-width: 512px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (max-width: 512px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (max-width: 512px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (max-width: 512px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (max-width: 512px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (max-width: 512px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (max-width: 512px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (max-width: 512px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (max-width: 512px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1200px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    line-height: 2.61792em; } }

@media screen and (min-width: 1200px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    margin: 0 0.809em 1.618em 0; } }

@media screen and (min-width: 1200px) and (max-width: 512px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .ngn-chassis .button, .showroom main .workspace > section.buttons .custom-button {
    padding: 0 0.809em; } }
  .ngn-chassis .button:link, .showroom main .workspace > section.buttons .custom-button:link {
    color: white; }
  .ngn-chassis .button:visited, .showroom main .workspace > section.buttons .custom-button:visited {
    background: #01b116; }
  .ngn-chassis .button:hover, .showroom main .workspace > section.buttons .custom-button:hover {
    background: #00a793; }
  .ngn-chassis .button:active, .showroom main .workspace > section.buttons .custom-button:active {
    background: #008e7d; }
  .ngn-chassis .disabled.button, .showroom main .workspace > section.buttons .disabled.custom-button {
    background: rgba(0, 152, 134, 0.382);
    color: white; }
  .ngn-chassis .button:focus, .showroom main .workspace > section.buttons .custom-button:focus {
    outline: none; }

.showroom header {
  padding: 3.82em 0;
  background: #01b116;
  text-align: center; }
  .showroom header h1 {
    margin: 0;
    color: white;
    text-transform: uppercase; }
    @media screen and (max-width: 512px) {
      .showroom header h1 {
        font-size: 2.5888em;
        line-height: 1.618em; } }
    @media screen and (min-width: 512px) and (max-width: 768px) {
      .showroom header h1 {
        font-size: 2.62925em;
        line-height: 1.618em; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .showroom header h1 {
        font-size: 2.66494em;
        line-height: 1.618em; } }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      .showroom header h1 {
        font-size: 2.60678em;
        line-height: 1.618em; } }
    @media screen and (min-width: 1200px) {
      .showroom header h1 {
        font-size: 2.63989em;
        line-height: 1.618em; } }

.showroom main {
  padding-top: 2em; }
  @media screen and (min-width: 768px) {
    .showroom main {
      display: flex;
      align-items: flex-start; } }
  @media screen and (min-width: 768px) {
    .showroom main {
      padding-top: 3.82em; } }
  .showroom main .sidebar {
    box-shadow: inset 0 0 0 1px #dadbdd; }
    @media screen and (min-width: 768px) {
      .showroom main .sidebar {
        flex: 1 0 25%; } }
    .showroom main .sidebar a {
      display: block;
      padding: .618em 1em; }
      .showroom main .sidebar a:not(:last-child) {
        box-shadow: 0 1px 0 0 #dadbdd; }
  @media screen and (min-width: 768px) {
    .showroom main .workspace {
      padding: 0 0 0 3.82vw; } }
  .showroom main .workspace > section {
    margin-bottom: 3em; }
    .showroom main .workspace > section h1 {
      box-shadow: inset 0 -1px 0 0 #d1d2d4; }
    .showroom main .workspace > section.buttons .button.purple {
      background: purple; }
      .showroom main .workspace > section.buttons .button.purple:hover {
        background: #b300b3; }
      .showroom main .workspace > section.buttons .button.purple:active {
        background: #610561; }
      .showroom main .workspace > section.buttons .button.purple.disabled {
        background: #ccb3cc; }
  .showroom main .workspace pre {
    background: #fafafa;
    box-shadow: 0 0 0 1px #d1d2d4;
    border-radius: 0.24063em;
    font-family: Consolas, Courier New, monospace;
    white-space: pre-wrap; }

@media screen and (max-width: 512px) and (max-width: 512px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (max-width: 512px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (max-width: 512px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (max-width: 512px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (max-width: 512px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (max-width: 512px) and (max-width: 512px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (max-width: 512px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (max-width: 512px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (max-width: 512px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (max-width: 512px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (max-width: 512px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (max-width: 512px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 512px) and (max-width: 768px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 512px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (max-width: 512px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (max-width: 512px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (max-width: 512px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1200px) and (max-width: 512px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    margin: 0 0 1.618em 0; } }

@media screen and (min-width: 1200px) and (max-width: 512px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1200px) and (min-width: 512px) and (max-width: 768px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1200px) and (min-width: 768px) and (max-width: 1024px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1200px) and (min-width: 1024px) and (max-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .showroom main .workspace pre {
    padding: 0.5em 0.809em; } }
    .showroom main .workspace pre:before {
      display: block;
      color: #a9aaae; }
    .showroom main .workspace pre.html:before {
      content: 'HTML:'; }
    .showroom main .workspace pre.sass:before {
      content: 'SASS:'; }
    .showroom main .workspace pre.javascript:before {
      content: 'JavaScript:'; }
