// Ideal font-sizes for screen-width
// Used to calculate line-height and width

// Ideal font-sizes at different screen size ranges
// Ex. (lower bound, upper bound, font-size)
$font-size-defs : (
  (
    lower-bound: 0px,
    upper-bound: 320px,
    font-sizes: (
      root: 14px,
      small: 11px,
      large: 18px,
      larger: 23px,
      largest: 37px
    )
  ),
  (
    lower-bound: 320px,
    upper-bound: 512px,
    font-sizes: (
      root: 15px,
      small: 12px,
      large: 19px,
      larger: 24px,
      largest: 39px
    )
  ),
  (
    lower-bound: 512px,
    upper-bound: 768px,
    font-sizes: (
      root: 16px,
      small: 13px,
      large: 20px,
      larger: 26px,
      largest: 42px
    )
  ),
  (
    lower-bound: 768px,
    upper-bound: 1024px,
    font-sizes: (
      root: 17px,
      small: 13px,
      large: 22px,
      larger: 28px,
      largest: 45px
    )
  ),
  (
    lower-bound: 1024px,
    upper-bound: 1200px,
    font-sizes: (
      root: 18px,
      small: 14px,
      large: 23px,
      larger: 29px,
      largest: 47px
    )
  ),
  (
    lower-bound: 1200px,
    upper-bound: 1440px,
    font-sizes: (
      root: 19px,
      small: 15px,
      large: 24px,
      larger: 31px,
      largest: 50px
    )
  ),
  (
    lower-bound: 1440px,
    upper-bound: 1600px,
    font-sizes: (
      root: 20px,
      small: 16px,
      large: 25px,
      larger: 32px,
      largest: 52px
    )
  ),
  (
    lower-bound: 1600px,
    upper-bound: 1920px,
    font-sizes: (
      root: 21px,
      small: 17px,
      large: 27px,
      larger: 34px,
      largest: 55px
    )
  ),
  (
    lower-bound: 1920px,
    upper-bound: 2048px,
    font-sizes: (
      root: 22px,
      small: 17px,
      large: 28px,
      larger: 36px,
      largest: 58px
    )
  )
);
