// NGN Chassis
// Typography Constants --------------------------------------------------------

$CHASSIS_TYPOGRAPHY_SCALE-MINOR_SECOND   : 1.067;
$CHASSIS_TYPOGRAPHY_SCALE-MAJOR_SECOND   : 1.125;
$CHASSIS_TYPOGRAPHY_SCALE-MINOR_THIRD    : 1.200;
$CHASSIS_TYPOGRAPHY_SCALE-MAJOR_THIRD    : 1.250;
$CHASSIS_TYPOGRAPHY_SCALE-PERFECT_FOURTH : 1.333;
$CHASSIS_TYPOGRAPHY_SCALE-TRITONE        : 1.414;
$CHASSIS_TYPOGRAPHY_SCALE-PERFECT_FIFTH  : 1.500;
$CHASSIS_TYPOGRAPHY_SCALE-GOLDEN_RATIO   : 1.61803398875;

$global-typography-multiplier: 1 !default;
