// NGN Chassis
// Configuration

// :: Typography ---------------------------------------------------------------

$type-scale-ratio : $CHASSIS_TYPOGRAPHY_SCALE-GOLDEN-RATIO !default;

$h1-font-size-alias: larger;
$h2-font-size-alias: large;
$h3-font-size-alias: root;
$h4-font-size-alias: small;
$h5-font-size-alias: small;
$h6-font-size-alias: small;
