@import 'constants/colors';
@import 'constants/typography';

@import 'config/breakpoints';
@import 'config/typography';
@import 'config/layout';

@import 'functions/math';
@import 'functions/unit-conversion';

@import 'mixins/media-queries';
@import 'mixins/misc';
@import 'mixins/flex-layout';
@import 'mixins/flex-tiles';

@import 'typography/definitions';
@import 'typography/functions';
@import 'typography/mixins';

@import 'reset';
@import 'helpers';

// Chassis Core ----------------------------------------------------------------

html {
  @if variable-exists(body-bg-color) {
    background: $body-bg-color;
  }

  font-size: $typography-base;
}

.ngn-chassis {
  min-width: $ui-min-width;

  margin: 0;
  padding: 0;

  font: {
    @if variable-exists(font-family) {
      family: $font-family;
    }
    @if variable-exists(font-weight-defs) {
      weight: $regular;
    }
    style: normal;
    variant: normal;
  }

  @if variable-exists(text-color) {
    color: $text-color;
  }

  @if variable-exists(CHASSIS_DETAILER_INCLUDED) {
    a:not(.button) {
      @if $link-fonts != $font-family {
        font-family: $link-fonts;
      }

      font: {
        @if $link-fonts != $font-family {
          family: $link-fonts;
        }
        weight: $link-weight;
        style: $link-style;
        variant: $link-variant;
      }

      text: {
        decoration: $link-decoration;
        transform: $link-transform;
      }

      color: $link-color;

      &:link {
        color: $link-color;
      }

      &:visited {
        @if $visited-link-weight != $link-weight {
          font-weight: $visited-link-weight;
        }
        @if $visited-link-style != $link-style {
          font-style: $visited-link-style;
        }
        @if $visited-link-variant != $link-variant {
          font-variant: $visited-link-variant;
        }
        @if $visited-link-decoration != $link-decoration {
          text-decoration: $visited-link-decoration;
        }
        @if $visited-link-transform != $link-transform {
          text-transform: $visited-link-transform;
        }
        @if $visited-link-color != $link-color {
          color: $visited-link-color;
        }
      }

      &:hover {
        @if $hover-link-fonts != $link-fonts {
          font-family: $hover-link-fonts;
        }
        @if $hover-link-weight != $link-weight {
          font-weight: $hover-link-weight;
        }
        @if $hover-link-style != $link-style {
          font-style: $hover-link-style;
        }
        @if $hover-link-variant != $link-variant {
          font-variant: $hover-link-variant;
        }
        @if $hover-link-decoration != $link-decoration {
          text-decoration: $hover-link-decoration;
        }
        @if $hover-link-transform != $link-transform {
          text-transform: $hover-link-transform;
        }
        @if $hover-link-color != $link-color {
          color: $hover-link-color;
        }
      }

      &:active {
        @if $active-link-fonts != $link-fonts {
          font-family: $active-link-fonts;
        }
        @if $active-link-weight != $link-weight {
          font-weight: $active-link-weight;
        }
        @if $active-link-style != $link-style {
          font-style: $active-link-style;
        }
        @if $active-link-variant != $link-variant {
          font-variant: $active-link-variant;
        }
        @if $active-link-decoration != $link-decoration {
          text-decoration: $active-link-decoration;
        }
        @if $active-link-transform != $link-transform {
          text-transform: $active-link-transform;
        }
        @if $active-link-color != $link-color {
          color: $active-link-color;
        }
      }

      &.disabled {
        @if $disabled-link-weight != $link-weight {
          font-weight: $disabled-link-weight;
        }
        @if $disabled-link-style != $link-style {
          font-style: $disabled-link-style;
        }
        @if $disabled-link-variant != $link-variant {
          font-variant: $disabled-link-variant;
        }
        @if $disabled-link-decoration != $link-decoration {
          text-decoration: $disabled-link-decoration;
        }
        @if $disabled-link-transform != $link-transform {
          text-transform: $disabled-link-transform;
        }
        @if $disabled-link-color != $link-color {
          color: $disabled-link-color;
        }

        @extend %disable-pointer-events;
      }
    }
  }

  @if variable-exists(CHASSIS_DETAILER_INCLUDED) {

    h1 {
      @if $h1-fonts != $font-family {
        font-family: $h1-fonts;
      }
      font: {
        weight: $h1-weight;
        style: $h1-style;
        variant: $h1-variant;
      }

      @if $h1-color != $text-color {
        color: $h1-color;
      }

      text-transform: $h1-transform;
      text-decoration: $h1-decoration;
    }

    h2 {
      @if $h2-fonts != $font-family {
        font-family: $h2-fonts;
      }
      font: {
        weight: $h2-weight;
        style: $h2-style;
        variant: $h2-variant;
      }

      @if $h2-color != $text-color {
        color: $h2-color;
      }

      text-transform: $h2-transform;
      text-decoration: $h2-decoration;
    }

    h3 {
      @if $h3-fonts != $font-family {
        font-family: $h3-fonts;
      }
      font: {
        weight: $h3-weight;
        style: $h3-style;
        variant: $h3-variant;
      }

      @if $h3-color != $text-color {
        color: $h3-color;
      }

      text-transform: $h3-transform;
      text-decoration: $h3-decoration;
    }

    h4 {
      @if $h4-fonts != $font-family {
        font-family: $h4-fonts;
      }
      font: {
        weight: $h4-weight;
        style: $h4-style;
        variant: $h4-variant;
      }

      @if $h4-color != $text-color {
        color: $h4-color;
      }

      text-transform: $h4-transform;
      text-decoration: $h4-decoration;
    }

    h5 {
      @if $h5-fonts != $font-family {
        font-family: $h5-fonts;
      }
      font: {
        weight: $h5-weight;
        style: $h5-style;
        variant: $h5-variant;
      }

      @if $h5-color != $text-color {
        color: $h5-color;
      }

      text-transform: $h5-transform;
      text-decoration: $h5-decoration;
    }

    h6 {
      @if $h6-fonts != $font-family {
        font-family: $h6-fonts;
      }
      font: {
        weight: $h6-weight;
        style: $h6-style;
        variant: $h6-variant;
      }

      @if $h6-color != $text-color {
        color: $h6-color;
      }

      text-transform: $h6-transform;
      text-decoration: $h6-decoration;
    }

  }

  // Auto Typography -----------------------------------------------------------

  // Loops through each screen-size range, as specified in `config/breakpoints`.
  // Uses global-typography-rules mixin to set appropriate typography rules at
  // each screen-size range.
  // This is determined by checking the upper-bound of the current screen-size
  // range against preset golden-ratio typography rules and selecting the
  // corresponding rules.

  // Typography Rule definitions can be found in `typography/definitions`.

  @each $range-semantic-name, $range-bounds in $screen-size-ranges {

    $index: index(map-keys($screen-size-ranges), $range-semantic-name);
    $upper-bound: map-get($range-bounds, upper-bound);

    @if $index == 1 {
      @include max-screen-size($range-semantic-name) {
        @include global-typography-rules($upper-bound);
      }
    } @elseif $index == length($screen-size-ranges) {
      @include min-screen-size($range-semantic-name) {
        @include global-typography-rules($upper-bound);
      }
    } @else {
      @include screen-size($range-semantic-name) {
        @include global-typography-rules($upper-bound);
      }
    }

  }

}
